:root {
    --bg-c-dark: #313338;
    --bg-c-darker: #2b2d31;
    --bg-c-darkest: #1e1f22;

    --text-c: rgb(241, 241, 241);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
