.container {
    display: flex;
    align-items: center;
}

.avatar {
    margin: 12px;
    background-color: grey;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.name {
    font-weight: 500;
}

.statusText {
    text-transform: capitalize;
    font-size: 0.8em;
    opacity: 50%;
}

.status {
    background-color: var(--bg-c-dark);
    width: 16px;
    height: 16px;
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 50%;
}

.online, .offline, .idle, .dnd {
    width: 10px;
    height: 10px;
    position: relative;
    top: 3px;
    left: 3px;
    border-radius: 50%;
}

.online {
    background-color: #23a55a;
}

.offline {
    background-color: #80848e;
}

.idle {
    background-color: #f0b232;
}

.dnd {
    background-color: #f23f43;
}